<!DOCTYPE html>
<html lang="en">
<style>
    .matting{
        padding: 10px;
        margin-left: 25px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="matting">
    <h1>{{authorInfo.first_name}} {{authorInfo.last_name}}</h1>
    <h3>ID: {{authorInfo.id}}</h3>
    <p>Description: {{authorInfo.notes}}</p>
    </div>
    <h4>
        <ul style ="list-style-type: none;">
        {% for books in authorBooks %}
            <li>{{books.title}}</li>
        {% endfor %}
        </ul>
    </h4>
    <div class="matting">
    <form action="/addBookToAuthor/{{authorInfo.id}}" method="post">
        {% csrf_token %}
        <select name="bookId" id="">
            <option value="">Select Book</option>
            {% for books in allBooks %}
            <option value="{{books.id}}">{{books.title}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add">
    </form>
    </div>
</body>
</html>