<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link rel=”stylesheet” href=”{% static 'css/style.css' %}”>

    <style>
        .matting {
	        margin: 20px;
	        display: inline-block;
            width: auto;
            vertical-align: top;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>



</head>

<body>
    <div class="matting">
    <h1>Add an Author</h1>
    <form action="/createAuthor" method="post">
        {% csrf_token %}
        <p><label>First Name:</label><br>
        <input type="text" name="firstName" id="" placeholder="First Name"></p>
        <p><label>Last Name:</label><br>
            <input type="text" name="lastName" id="" placeholder="Last Name"></p>
        <p><label>Notes:</label><br>
        <textarea name="notes" rows="4" cols="25" placeholder="Please provide a brief note on the author..."></textarea></p>
        <button type="submit">Add</button>
    </form>
    </div>
    <div class="matting">
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        {% for author in authors %}
        <tr>
            <td>
                {{author.id}}
            </td>
            <td>
                {{author.first_name}} {{author.last_name}}
            </td>
            <td>
                <a href="/authors/{{author.id}}">View</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>

</html>