#wrapper{
    background-color: #82c3fc;
    color: white;
}

#logo{
    display: inline;
    height: 120px;
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;

}

#dojo{
    font-size: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 580;
    font-stretch: extra-expanded;
    display: inline;

}

#list{
    color: white;

}

.link{
    display: inline;
    text-align-last: right;


}