<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a New Show</h1>    <p><a href="/shows">Go Back</a></p>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/shows/createNewShow" method="post">
        {%csrf_token%}
        <p><label>Title:</label><br>
            <input type="text" name="showTitle" id="" placeholder="Show Title"></p>
        <p><label>Network:</label><br>
            <input type="text" name="showNetwork" id="" placeholder="Show Network"></p>
        <p><label>Release Date:</label><br>
                <input type="text" name="showReleaseDate" id="" placeholder="YYYY-MM-DD"></p>
        <p><label>Description:</label><br>
            <textarea name="description" rows="4" cols="30"
                placeholder="Please provide a brief description of the show..."></textarea></p>
        <button type="submit">Create</button>
    </form>
</body>
</html>