* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
    }

.matting{
    text-align: center;
}

.local{
    display: inline-block;
    margin: 15px;
    border: 1px solid black;
    width: 180px;
    height: 180px;
    text-align: center;
    line-height: 50px;
}

.activities{
    margin: 15px;
    border: 1px solid black;
    width: 835px;
    height: 300px;
    margin-left: 350px;
    padding: 15px;
    overflow: scroll;
    text-align: left;    
}
