<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel=”stylesheet” href=”{% static 'css/style.css' %}”>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

</head>

<body>
    <div>
    <h1>Books</h1>
    <form action="/createBook" method="post">
        {% csrf_token %}
        <label>Book:</label><br>
        <input type="text" name="bookTitle" id="" placeholder="Book Title"><br>
        <label>Description:</label><br>
        <textarea name="description" rows="4" cols="50" placeholder="Please provide a brief description of the book..."></textarea><br>
        <button type="submit">Add</button>
    </form>
    </div>
    <div>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>
                {{book.id}}
            </td>
            <td>
                {{book.title}}
            </td>
            <td>
                <a href="">View</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>

</html>