* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
    }
    
.matting{
    width: 1000px;
    height: 1000px;
    background-color: whitesmoke;
    } 

.container{
    width: 980px;
    height: 900px;
    background-color: purple;
    padding: 10px;
}
#my_photo{
    width: 400px;
    border: 5px solid gray;
}

#about{
    background-color: whitesmoke;
    width: 510px;
    height: 270px;
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
}

.content_header{
    background-color: gray;
    color: white;
}

.long_content{
    background-color: whitesmoke;
    width: 280px;
    height: 575px;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}

.technologies{
    background-color: gray;
    color: white;
    margin-top: 50px;
}

.matting_footer{
    margin-left: 20px;
}

.footer_links_1{
    display: inline-block;
    margin-left: 200px;
}

.footer_links_2{
    display: inline-block;
    margin-left: 200px;
    vertical-align: bottom;
}

.tech_icons_1{
    display: inline-block;
    margin-left: 10px;
}

#ajax_img{
    display: inline-block;
    width: 37px;
    margin: 5px;
}

#angular_img{
    display: inline-block;
    width: 37px;
    margin: 5px;
}

#lamode_img{
    display: inline-block;
    width: 280px;

}

.content_body{
    margin: 10px;
    font-size: 17px;
}

.tech_icons_2{
    display: inline-block;
}